<% if @note.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row text-center">
  <h1><%= t(".title") %></h1>
</div>

<br>
<div class="row">
  <input class="form-control" id="password" placeholder="<%= t(".key") %>">
</div>
<br>
<div class="row">
  <textarea rows="10" class="form-control" id="plaintext" placeholder="<%= t(".message") %>" maxlength: "1000"></textarea>
</div>

<div class="row">
  <%= form_for @note, url: { action: :create } do |f| %>
    <%= f.text_field :text, maxlength: 2000, hidden: true %>
    <div class="checkbox-inline">
      <%= check_box_tag :delete_on_view, "1", true %>
      <%= f.label :delete_on_view, t(".deleteyn") %><br>
    </div>
    <br />
    <br />

    <%= f.submit class: "btn btn-primary btn-lg btn-block" %>
  <% end %>
</div>

<script>
(function () {

var plaintext = $("#plaintext");
var password = $("#password");

var noteText = $("#note_text");

var update = function () {
  noteText.val(sjcl.encrypt(password.val(), plaintext.val()))
}

plaintext.on("input", update);
password.on("input", update);

})();
</script>
