<div id="error-container" class="alert alert-danger hidden" role="alert">
  <ul>
    <li id="text-too-long" class="hidden"><%= t(".text_too_long") %></li>
    <li id="missing-key" class="hidden"><%= t(".missing_key") %></li>
    <li id="missing-message" class="hidden"><%= t(".missing_message") %></li>
  </ul>
</div>

<div class="text-center">
  <h1><%= t(".title") %></h1>
</div>

<br>
<input class="form-control" id="password" placeholder="<%= t(".key") %>">
<br>
<textarea rows="10" class="form-control" id="plaintext" placeholder="<%= t(".message") %>" maxlength: "1000"></textarea>

<%= form_for @note, url: { action: :create } do |f| %>
  <%= f.text_field :text, maxlength: 2000, hidden: true %>
  <div class="checkbox-inline">
    <%= check_box_tag :delete_on_view, "1", true %>
    <%= f.label :delete_on_view, t(".deleteyn") %><br>
  </div>
  <br />
  <br />

  <%= f.submit class: "btn btn-primary btn-lg btn-block" %>
<% end %>

<script>
(function () {

var plaintext = $("#plaintext");
var password = $("#password");
var noteText = $("#note_text");
var textTooLong = $("#text-too-long")
var missingKey = $("#missing-key")
var missingMessage = $("#missing-message");
var errorContainer = $("#error-container");
var form = $("#new_note");

var update = function () {
  var kval = password.val();
  var tval = plaintext.val();
  var errors = false;
  var text = sjcl.encrypt(kval, tval);

  errorContainer.addClass("hidden");
  textTooLong.addClass("hidden");
  missingKey.addClass("hidden");
  missingMessage.addClass("hidden");

  if (text.length > 2000) {
    textTooLong.removeClass("hidden");
    errors = true;
  }

  if (kval.trim() === '') {
    missingKey.removeClass("hidden");
    errors = true;
  }

  if (tval.trim() === '') {
    missingMessage.removeClass("hidden");
    errors = true;
  }

  if (errors) {
    errorContainer.removeClass("hidden");
    return false;
  } else {
    noteText.val(text);
  }
}

form.submit(update);

})();
</script>
