<!DOCTYPE html>
<html>
<head>
  <title>Cryptonotes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h2>Cryptonotes</h2>

<%= yield %>

<br>
<hr>
Create a <%= link_to 'New Note', new_note_path %><br>
Go to an <%= link_to 'Existing Note', root_path %>

</body>
</html>
